.products-grid {
  display: grid;
  gap: var(--s-300);
}

@media (min-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--s-400);
    column-gap: var(--s-300);
  }
}

.minified-products {
  display: flex;
  flex-direction: column;
  gap: var(--s-200);
}
